@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@import './colors.css' layer(theme);
@import './globals.css';
@import './not-found-effects.css';

@theme {
  --font-ibm-mono: 'IBM Plex Mono', monospace;
}
